
/*
*  CSS TABLE OF CONTENTS
*
*  CSS Variables
*  General Styles
*  Body
*   Header Widgets
*   Main Dashboard Widgets
*  Tailwind overrides
*  
*/




/**** CSS VARIABLES ****/

:root {
    --primary: #141414;
    --light:   #F3F3F3;
    --dark:    #686868;
}

/**** General styles ****/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/**** BODY ****/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary);
    color: var(--light);
}

.wrapper {
    min-height: 100vh;
    height: 100vh;
    overflow: auto;
}



.two-hundred-text {
    color: rgb(255, 49, 49);
    text-shadow: 1px 1px 1px #910000, 1px 2px 1px #910000, 1px 3px 1px #910000, 1px 4px 1px #910000, 1px 5px 1px #910000, 1px 6px 1px #910000, 1px 7px 1px #910000, 1px 8px 1px #910000, 1px 9px 1px #910000, 1px 10px 1px #910000, 1px 18px 6px rgba(16,16,16,0.4), 1px 22px 10px rgba(16,16,16,0.2), 1px 25px 35px rgba(16,16,16,0.2), 1px 30px 60px rgba(16,16,16,0.4);
    font-weight: 700;
    font-family: Verdana;
}


/**** -Header Widgets ****/

/* button components */
/* todo: figure out... should I just put it in here or inside another file just for that component */
.header-widget-block {
    border: 1px solid rgb(180, 180, 180);
}

/* -hundered days widget */
.hundred-days-widget {
    background: #2fa2bc;
}

.hundred-days-widget a{
    overflow-wrap: break-word;
    font-size: .8rem;
}

@media (min-width: 768px) {
    .hundred-days-widget a {
        font-size: 1rem;
    }
}

.twitter-logo {
    display: none;
}

@media (min-width: 768px) {
    .twitter-logo  {
        display: inline-block;
        margin: 0 auto 10px;
        width: 50px;
        vertical-align: middle;
    }
}
/* End -hundred days widget */

/**** -Main Dashboard widgets ****/

@media (min-width: 768px) {
    .dashboard {
        overflow: hidden;
    }
}

/* Main Layout columns 1-3 Layout*/
.dashboard-col:nth-child(1) {
    width: 100%;
}

.dashboard-col:nth-child(2),
.dashboard-col:nth-child(3) {
    display: none;
}

@media (min-width: 640px) {

    .dashboard-col:nth-child(1) {
        width: 50%;
    }
    
    .dashboard-col:nth-child(2) {
        display: flex;
        width: 50%;
    }
}

/* main dashboard column-1 rows*/
@media (min-width: 768px) {
    
    .dashboard-col:nth-child(1) {
        width: 45%;
    }
    
    .dashboard-col:nth-child(2) {
        width: 27%;
    }

    .dashboard-col:nth-child(3) {
        display: flex;
        width: 28%;
    }
}

/* main dashboard column-2 rows*/

.dashboard-col:nth-child(2) .row:nth-child(2) {
    flex-grow: 1;
}

@media (min-width: 640px) {
  
    .slide-img {
        /* height: 90%;
        max-height: 220px; */
        height: calc(100% - 100px); /* 100px height of slide-next-btn */
        object-fit: cover;
        overflow: hidden;
    }

    .slide-next-btn {
        height: 100px;
    }
}

/* Main dashboard column-3 rows */
.kobe-widget {
    background: url(../assets/images/mamba-out.jpg);
    background-size: cover;
}

@media (min-width: 768px) {
    /* volume control doesnt work when video player is too small */
    .kobe-widget {
        min-width: 370px;
    }
}


.kobe-widget iframe {
    visibility: visible;
    height: 100%;
    width: 100%;
}


.maki-widget {
    background: url(../assets/images/maki-me.jpg);
    background-size: cover;
    background-position: right 0 bottom 0;
}



@media (min-width: 768px) {

    .dashboard-col:nth-child(3) .msg {
        -webkit-text-stroke: 1px #000000;
        padding: 0 4px;
        background-color:rgba(255,255,255,0.2);
        font-size: 1.2em;
        border: 3px solid yellow;
    }

    .dashboard-col:nth-child(3) > * {
        flex-basis: 33%;
    }

}


/* todo: see later if this is the best way */
/****  Tailwind overrides  ****/
.bg-black {
    background: #141414;
}

.text-white {
    color: #eee;
}