/* CSS VARIABLES */

:root {
    --primary: #141414;
    --light:   #F3F3F3;
    --dark:    #686868;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary);
    color: var(--light);
}

.wrapper {
    min-height: 100vh;
    height: 100vh;
    overflow: auto;
}


/* tailwind current overrides for now*/
.bg-black {
    background: #141414;
}

.text-white {
    color: #eee;
}

.two-hundred-text {
    color: rgb(255, 6, 6);
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191, 1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191, 1px 10px 1px #919191, 1px 18px 6px rgba(16,16,16,0.4), 1px 22px 10px rgba(16,16,16,0.2), 1px 25px 35px rgba(16,16,16,0.2), 1px 30px 60px rgba(16,16,16,0.4);
    font-weight: 700;
    font-family: Verdana;
}


main .col:nth-child(1) {
    width: 45%;
}

main .col:nth-child(2) {
    width: 30%;
}
main .col:nth-child(3) {
    width: 25%;
}


/* BY WIDGET */

.todos-widget {

}