/* CSS VARIABLES */

:root {
    --primary: #141414;
    --light:   #F3F3F3;
    --dark:    #686868;
  }

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary);
    color: var(--light);
}

.wrapper {
    min-height: 100vh;
    height: 100vh;
    overflow: auto;
}


/* tailwind current overrides for now*/
.bg-black {
    background: #141414;
}

.text-white {
    color: #eee;
}

.two-hundred-text {
    color: rgb(255, 49, 49);
    text-shadow: 1px 1px 1px #910000, 1px 2px 1px #910000, 1px 3px 1px #910000, 1px 4px 1px #910000, 1px 5px 1px #910000, 1px 6px 1px #910000, 1px 7px 1px #910000, 1px 8px 1px #910000, 1px 9px 1px #910000, 1px 10px 1px #910000, 1px 18px 6px rgba(16,16,16,0.4), 1px 22px 10px rgba(16,16,16,0.2), 1px 25px 35px rgba(16,16,16,0.2), 1px 30px 60px rgba(16,16,16,0.4);
    font-weight: 700;
    font-family: Verdana;
}

/* MAIN LAYOUT */
main .col:nth-child(1) {
    width: 100%;
}

main .col:nth-child(2),
main .col:nth-child(3) {
    display: none;
}


main .col:nth-child(2) .row:nth-child(1) {
}

main .col:nth-child(2) .row:nth-child(2) {
    flex-grow: 1;
}


/* BY WIDGET */

.todos-widget-wrapper {
    /* overflow: auto; */
}

/* Col 3 */
.kobe-widget {
    background: url(../assets/images/mamba-out.jpg);
    background-size: cover;
}


.kobe-widget iframe {
    visibility: visible;
    height: 100%;
    width: 100%;
}



.maki-widget {
    background: url(../assets/images/maki-me.jpg);
    background-size: cover;
    background-position: right 0 bottom 0;
}


@media (min-width: 640px) {

    /* col 1 todolist */
    main .col:nth-child(1) {
        width: 50%;
    }
    
    /* COL 2 */
    main .col:nth-child(2) {
        display: flex;
        width: 50%;
    }
    
    main .col:nth-child(2) .row:nth-child(1) {
    }
    
    main .col:nth-child(2) .row:nth-child(2) {
    }

    .slide-img {
        /* height: 90%;
        max-height: 220px; */
        height: calc(100% - 100px); /* 100px height of slide-next-btn */
        object-fit: cover;
        overflow: hidden;
    }

    .slide-next-btn {
        height: 100px;
    }

    /* END COL 2 */
    
    
    
  
}

@media (min-width: 768px) {

    main {
        overflow: hidden;
    }

    main .col:nth-child(1) {
        width: 45%;
    }
    
    /* COL 2 */
    main .col:nth-child(2) {
        width: 30%;
    }

    /* END COL 2 */
    
    main .col:nth-child(3) {
        display: flex;
        width: 25%;
    }

    main .col:nth-child(3) .msg {
        -webkit-text-stroke: 1px #000000;
        padding: 0 4px;
        background-color:rgba(255,255,255,0.2);
        font-size: 1.2em;
    }

    main .col:nth-child(3) > * {
        flex-basis: 33%;
    }


}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}